<hr/>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/img/gallery/logo-n.png" style="margin: 2vh" id="icon" alt="User Icon" />
    </div>
    <form>
      <input type="text" id="firstName" class="fadeIn second" placeholder="first Name">
      <input type="text" id="lastName" class="fadeIn third"  placeholder="Last Name">
      <input type="text" id="age" class="fadeIn third"  placeholder="Age">
      <input type="text" id="studyField" class="fadeIn third"  placeholder="Study Field">
      <input type="text" id="university" class="fadeIn third"  placeholder="University">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>
  </div>
</div>
