
<main class="main" id="top">
  <nav style="background-color: white" class="navbar  navbar-expand-lg navbar-light sticky-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/gallery/logo-n.png" height="45" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse  border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
          <li class="nav-item px-2"><a class="nav-link active" aria-current="page" routerLink="/home">Home</a></li>
          <li class="nav-item px-2"><a class="nav-link active" aria-current="page" routerLink="/books">Books</a></li>
          <li class="nav-item px-2"><a class="nav-link active" aria-current="page" routerLink="/student">student area</a></li>
          <li class="nav-item px-2"><a class="nav-link active" aria-current="page" routerLink="/login">Administration</a></li>
        </ul>
        <div *ngIf="logged">
          <a (click)=logOut() style="border-radius: 20px;color: white" class="btn btn-primary order-1 order-lg-0" >Log Out</a>&nbsp;
        </div>
      </div>
    </div>
  </nav>

<router-outlet  (activate)="onActivate($event)"> </router-outlet>

</main>

  <div class="footer-basic"  id="foo" >
      <hr style=" border: black solid 2px"/>
       <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/home">Home</a></li>
        <li class="list-inline-item"><a routerLink="/books">See our Books</a></li>
        <li class="list-inline-item"><a routerLink="/student">Only for Student</a></li>
        <li class="list-inline-item"><a routerLink="/admin">Only for Admin</a></li>
      </ul>
      <p class="copyright">IF5 © 2022</p>
  </div>
