<hr/>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/img/gallery/logo-n.png" style="margin: 2vh" id="icon" alt="User Icon" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()" >
      <input formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input formControlName="password" type="password"  class="fadeIn third" name="login" placeholder="password">
      <div>
        <small style="color:red">  {{control}}  </small>
      </div>
      <input type="submit" [disabled]="loginForm.invalid" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
