<div class="container-xl" style="border: 1px solid black; border-radius: 10px;margin-top: 10vh ; margin-bottom: 10vh">
  <div class="table-responsive" style="margin-top: 3vh ; margin-bottom: 3vh">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>Students <b>Management</b></h2>
          </div>
          <div class="col-sm-5"></div>
          <div class="col-sm-2" >
          <a (click)=addNewStudent() class="btn btn-secondary" >Add New Studnet</a>
        </div>
        </div>
      </div>
      <div *ngIf="showAddForm">
        <app-register></app-register>
        <hr/>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Study Field</th>
          <th>University</th>
          <th>Phone</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.studentId}}</td>
          <td>{{student.firstName}} </td>
          <td>{{student.lastName}} </td>
          <td>{{student.studyField}}</td>
          <td>{{student.university}}</td>
          <td>{{student.phone}}</td>
          <td>
            <a (click)=deleteStudent(student.studentId) class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>


<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="container-xl" style="border: 1px solid black; border-radius: 10px;margin-top: 10vh ; margin-bottom: 10vh">
  <div class="table-responsive" style="margin-top: 3vh ; margin-bottom: 3vh">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5">
          <h2>Books <b>Management</b></h2>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2" >
          <a (click)=addNewBook() class="btn btn-secondary" >Add New book</a>
        </div>
      </div>
    </div>
    <div *ngIf="showAddBookForm">
      <app-add-book></app-add-book>
      <hr/>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Book Name</th>
        <th>Book author</th>
        <th>Description</th>
        <th>Copy Number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.bookName}} </td>
        <td>{{book.bookAuthor}}</td>
        <td>{{book.description}}</td>
        <td>{{book.nbCopy}}</td>
        <td>
          <a (click)=updateBook(book.id) class="update" title="update" data-toggle="tooltip"><i class="material-icons">&#xE0B8;</i></a>
          <a (click)=deleteBook(book.id) class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="container-xl" style="border: 1px solid black; border-radius: 10px;margin-top: 10vh ; margin-bottom: 10vh">
  <div class="table-responsive" style="margin-top: 3vh ; margin-bottom: 3vh">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5">
          <h2>Admins <b>Management</b></h2>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2" >
          <a (click)=addNewBook() class="btn btn-secondary" >Add New Admin</a>
        </div>
      </div>
    </div>
<!--    <div *ngIf="showAddAdminForm">-->
<!--      <app-add-admin></app-add-admin>-->
<!--      <hr/>-->
<!--    </div>-->
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Admin User Name</th>
        <th>Admin First Name</th>
        <th>Admin Last Name</th>
        <th>Admin Email</th>
        <th>Admin Phone Number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{admin.username}}</td>
        <td>{{admin.firstName}} </td>
        <td>{{admin.lastName}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.phoneNumber}}</td>
        <td>
          <a (click)=updateBook(admin.id) class="update" title="update" data-toggle="tooltip"><i class="material-icons">&#xE0B8;</i></a>
          <a (click)=deleteBook(admin.id) class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
